.home-title-section{
	background: inherit;
	margin: 4em;
}

.browse-projects-section{
	margin-left: 2.5em;
}

.title-text{
	font-size: 3.5em;
}

.title-secondary{
	font-size: 1.5em;
}

.pager{
	height: 1.2em;
	margin-left: 1em;
	margin-right: 1em;
}

.browse-button{

}

.project-header{
	font-weight: bold;
	font-size: 1.2em;
}

.project-secondary{
	margin-left: 7.5em;
}

.list-project{
	padding: 1em 0px;
}

.image-float{
	max-height: 2rem;
	float: left;
	margin: 0px 0.5em;
	border: solid;
	border-color: black;
}

.previous{
	color: blue;
}

.next{
	color: blue;
}